version: "3"
services:
  mongo:
    image: mongo
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - ./data:/data/db
      - ./mongo_backup:/backup
      - ./init:/docker-entrypoint-initdb.d
    restart: always

  api:
    build: ./api
    container_name: flask-api
    ports:
      - "5004:5004"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongodb:27017/
