version: "3.8"

services:
  mysql_dw:
    image: mysql:8
    container_name: mysql_dw
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: dw_hospital
      MYSQL_USER: dw_user
      MYSQL_PASSWORD: dwpass
    ports:
      - "3308:3306"
    volumes:
      - dw_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - nifi-net

  nifi:
    image: apache/nifi:latest
    container_name: nifi
    restart: always
    ports:
      - "8443:8443"
    environment:
      NIFI_WEB_HTTPS_PORT: 8443
      SINGLE_USER_CREDENTIALS_USERNAME: admin
      SINGLE_USER_CREDENTIALS_PASSWORD: admin12345678
    volumes:
      - ./nifi/flowfile_repository:/opt/nifi/nifi-current/flowfile_repository
      - ./nifi/database_repository:/opt/nifi/nifi-current/database_repository
      - ./nifi/content_repository:/opt/nifi/nifi-current/content_repository
      - ./nifi/provenance_repository:/opt/nifi/nifi-current/provenance_repository
      - ./nifi/state:/opt/nifi/nifi-current/state
      - ./drivers:/opt/nifi/nifi-current/extensions
      - ./nifi/conf:/opt/nifi/nifi-current/conf

    depends_on:
      - mysql_dw
    networks:
      - nifi-net

volumes:
  dw_data:
  

networks:
  nifi-net:
    external: true
